.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 100;
  overflow-x: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  width: 100%;
  max-width: 430px;
  padding: 34px 36px 28px;
  position: relative;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #fff;
}

.modal__title {
  margin-bottom: 0;
  margin-top: 0;
  max-width: 140px;
  width: 100%;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 100%;
  font-weight: 900;
}

.modal__close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -46px;
  right: -41px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal__close:focus-visible {
  outline: 2px solid #2f71e5;
  border-radius: 8px;
}

.modal__label {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #2f71e5;
  margin-top: 22px;
  display: block;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 358px;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  outline: none;
  margin-top: 9px;
  padding: 0 0 10px;
  color: #000000;
}

.modal__input:focus {
  border-bottom-color: #2f71e5;
}

.modal__error {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin: 5px 0 0;
  min-height: 15px;
}

.modal__input:invalid {
  border-color: #ff0000;
}

.modal__input {
  transition: border-color 0.3s;
}

.modal__button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.modal__submit {
  width: 100%;
  max-width: 360px;
  height: 64px;
  border-radius: 100px;
  border: none;
  background: #2f71e5;
  padding: 0;
  color: #fff;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  margin-top: 39px;
}

.modal__submit:focus-visible {
  outline: 2px solid #000;
  outline-offset: 2px;
}

.modal__submit:disabled {
  background-color: #e6e8eb;
  color: #b6bcbf;
  cursor: not-allowed;
}

.modal__submit:hover:not(:disabled) {
  opacity: 0.8;
  cursor: pointer;
}

.modal__signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 16px;
}

.modal__or-text {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  margin: 0;
}

.modal__to-register {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #2f71e5;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  height: fit-content;
  cursor: pointer;
}

.modal__to-register:focus-visible {
  outline: 2px solid #2f71e5;
  border-radius: 4px;
}

.modal__to-register:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .modal {
    padding: 0 16px;
    box-sizing: border-box;
  }

  .modal__content {
    width: 100%;
    padding: 34px 36px 28px;
    box-sizing: border-box;
  }

  .modal__close {
    top: -50px;
    right: -40px;
  }
}

@media screen and (max-width: 320px) {
  .modal__content {
    padding: 24px 16px;
    top: -70px;
    width: 100%;
    max-width: none;
    box-sizing: border-box;
    height: 560px;
  }

  .modal__input,
  .modal__submit {
    max-width: none;
  }

  .modal__submit {
    height: 56px;
    font-size: 16px;
    margin-top: 24px;
  }

  .modal__label {
    margin-top: 16px;
  }
}
