*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0;
  box-sizing: border-box;
}

.page__content {
  align-items: center;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
