.header {
  background-image: url(../../assets/images/header-background.png);
  width: 100%;
  height: 576px;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  left: 0;
  right: 0;
}

.header__text-container {
  margin: 0 auto;
  max-width: 608px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  box-sizing: border-box;
  align-items: center;
}

.header__title {
  font-family: "roboto-slab", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #ffffff;
  max-width: 608px;
  margin: 0;
  width: 100%;
}

.header__subtitle {
  margin: 32px 0 88px;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
